{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Profile</a></li>
                <li class="d-grid"><a href="{% url 'address' %}" class="btn {{active}}">Address</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            <div class="row">
                {% for a in addr%}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>Address {{forloop.counter}}</h3>
                            <p>Name: {{a.name}}</p>
                            <p>Locality: {{a.locality}}</p>
                            <p>City: {{a.city}}</p>
                            <p>State: {{a.state}}</p>
                            <p>Pin Code: {{a.zipcode}}</p>

                        </div>
                    </div>
                </div>
                {% endfor %}
                 <!-- <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>Address 2</h3>
                            <p>Name: Rohit Kumar</p>
                            <p>Address 1: Lalpur</p>
                            <p>Address 2: Ranchi</p>
                            <p>State: Jharkhand</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}